.dropItem__block--assigneehidden {
	background-color: #fff;
	z-index: 1;
	width: 330px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid #edeae9;
	border-radius: 5px;
}

.col__avatar {
	width: 25px !important;
	height: 25px !important;
	font-size: 13px !important;
	margin: 0 10px;
}

.col__block--content {
	padding: 7px 0;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.col__block--content:hover {
	background-color: #f9f8f8;
}

.col__block--typography {
	display: flex;
	align-items: center;
}

.col__typo--userName {
	margin-right: 10px !important;
	font-size: 14px !important;
}

.col_typo--email {
	font-size: 12px !important;
	width: auto !important;
	cursor: pointer;
	color: rgb(103, 103, 103);
}
